.Card {
  padding: 1rem;
  border: var(--Card--Border, 1px solid #e1e1e1);
  background: var(--Card--Background, #fff);
  color: var(--Card--Color, #333);
  font-family: var(--Card--FontFamily, system-ui);
  font-size: var(--Card--FontSize, 16px);
}
