:root {
  --Default--FontFamily: system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;

  --Button--Border: 1px solid #e1e1e1;
  --Button--Background: #eaeaea;
  --Button--Color: #333;
  --Button--FontFamily: var(--Default--FontFamily);
  --Button--FontSize: 16px;

  --Card--Border: 1px solid #e1e1e1;
  --Card--Background: #fff;
  --Card--Color: #333;
  --Card--FontFamily: var(--Default--FontFamily);
  --Card--FontSize: 16px;

  --TextField--Border: 1px solid #e1e1e1;
  --TextField--Background: #fff;
  --TextField--Color: #333;
  --TextField--FontFamily: var(--Default--FontFamily);
  --TextField--FontSize: 16px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body,
input {
  font-family: var(--Default--FontFamily);
}
